<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>SDMServlet</servlet-name>
    <servlet-class>sdm.servlets.SDMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDMServlet</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>
</web-app>
